body {
  font-family: Raleway;
  margin: 0;
  background-color: rgb(241, 241, 241);
}

a, a:visited, a:hover {
  color: black;
  text-decoration: none;
}

/* h1 not bold standard */
h1, h3 {
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
}

h2 span {
  font-weight: 100;
}

h3 {
  font-size: 150%;
}

.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
}

/* ----------------------------- */
/* header menu */
/* ----------------------------- */
.wrapper-header {
  border-bottom: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.35); 
  padding-top: 10px;
  background-color: white; 
}

header {
  width: 70%;
  background-color: white;
  margin: 0 auto 10px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between; /* horizontal spread*/
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /* display: inline-block; */
  float: left;
  margin: 0 10px;
}

.logo-text {
  /* display: inline; */
  width: 250px;
}

.logo-text h1, .logo-text p {
  margin: 0px 10px;
}

.hire-button a {
  border: 2px solid black;
  margin: 0;
  padding: 12px;
  vertical-align: center;
  font-weight: bold;
}

/* ----------------------------- */
/* Profile background part */
/* ----------------------------- */
.wrapper-70 {
  width: 70%;
  margin: 0 auto; 
}

.profile-background { 
  background-image: url(../img/DSC02425.JPG);
  background-size: cover; 
  background-repeat: no-repeat;  
  height: calc(100vh - 100px); 
}
 
.profile-information {
  width: 35%;
  padding-top: 20vh;
  margin-left: 10px; 
}

.button-thin {
  margin-top: 30px;
}

.button-thin a {
  border: 1px solid black;
  padding: 10px 20px;
  vertical-align: center;
}

/* ----------------------------- */
/* About section and resume */
/* ----------------------------- */
.about-header {
  text-align: center;
}

.about-header h2 {
  margin: 0;
  padding-top: 40px;
}

.about-header hr {
  width: 120px;
  border-color: black;
  color: black;
  background-color: black;
  margin-top: 10px;
}

.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.resume-box-2 {
  width: 45%;
  margin: 20px 10px 0px;
}

.resume-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
  /* inline-block otherwise margin doesn't work */
}

#white-text {
  color: white;
}

/* expert in part */
.resume-expert-details h4 {
  margin-bottom: 8px;
}

/* .progress -> .progress-bar + span + bar-XX */
.progress {
  width: 100%;
  border-bottom: 5px solid rgb(211, 211, 211);
  position: relative;
}

.progress-bar  {
  color: white;
  display: inline-block;
  border-bottom: 5px solid black;
  position: absolute;
  bottom: -5px;;
}

.progress-bar span { 
  color: white; 
  background-color: black;
  padding: 4px;
}

/* Bar is "full" at 90%. Some correction needed */
.bar-60 {
  padding-left: calc(60% * 0.9);
}
.bar-90 {
  padding-left: calc(90% * 0.9);
}
.bar-70 {
  padding-left: calc(70% * 0.9);
}
.bar-50 {
  padding-left: calc(50% * 0.9);
}

/* ------------------------- */
/* Education and experience  */
/* ------------------------- */

/* margin of this class doesn't seem to work */
.education-experience-container {
  margin-bottom: 50px;
}

.education-container {
  width: calc(50% - 15px);
  float: left;
  background-color: white;
}

.experience-container {
  width: calc(50% - 15px);
  float: right;
  background-color: white;
}

.education, .experience { 
  padding: 0 20px;
  margin: 0px;
}

.two-blocks-child-a {
  float: left;
  width: 30%; 
}

.two-blocks-child-a > p {
  margin-top: 0px;
}

.two-blocks-child-b {
  float: left;
  width: 60%; 
}
 
.two-blocks-child-b > h4 {
  margin-top: 0px;
}
 
.clear-both {
  clear: both;
}

/* ------------------------- */
/* Services                  */
/* ------------------------- */

.services-wrapper {
  background-image: url(../img/bg.jpg); 
  background-position: center 60%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 20px 0;
  margin-top: 100px;
}

.services-header {
  text-align: center;
}

.services-header h2 {
  margin: 0;
  padding-top: 40px;
  color: white;
}

.services-header hr {
  width: 120px;
  border-color: white;
  color: white;
  background-color: white;
  margin-top: 10px;
}

.services-flex {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}

.services-box {
  padding: 20px;
  color: white;
}

/* Rest of the styling is not finished.. */